In [2]:
# Paso 1: Importamos librerias 
import pandas
import numpy

C:\Users\marti\AppData\Local\Temp\ipykernel_18604\726520321.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas

### Opciones al momento de crear un DataFrame

#### Opcion 1: Creamos un DataFrame usando numpy y arrays

In [3]:
# Creamos un array
varData = numpy.array([[1,"Argentina"],[2, "Chile"],[3,"Uruguay"]])

In [10]:
# Creamos un DataFrame
varDataFrame = pandas.DataFrame(varData, 
                                    index=['fila_1', 'fila_2', 'fila_3'],
                                    columns=['Ranking','País']
                                )

In [11]:
# Mostramos el contenido del DataFrame
varDataFrame

       Ranking       País
fila_1       1  Argentina
fila_2       2      Chile
fila_3       3    Uruguay

#### Opcion 2: Creamos un DataFrame usando solo listas

In [14]:
# Creamos una lista
varLista = [[1,"Argentina"],[2, "Chile"],[3,"Uruguay"]]

In [15]:
# Creamos un DataFrame
varDataFrame = pandas.DataFrame(varLista, 
                                    index=['fila_1', 'fila_2', 'fila_3'],
                                    columns=['Ranking','País']
                                )

In [16]:
# Mostramos el contenido del DataFrame
varDataFrame

        Ranking       País
fila_1        1  Argentina
fila_2        2      Chile
fila_3        3    Uruguay

#### Opcion 3: Creamos un DataFrame usando solo Diccionarios

In [27]:
# Creamos las listas (estas serían las filas) que contendran los valores de mi DataFrame
varPaises = ['China','India','Estados Unidos','Indonesia','Pakistán','Brasil']
varPoblacion = [1441,1393,332,276,225,213]

In [28]:
# Creamos un diccionario el cual va a contener las listas antes definidas
varDiccionario = {
                    'País':varPaises,
                    'Poblacion en Millones':varPoblacion
                 }

In [29]:
# Creamos un DataFrame
varDataFrame = pandas.DataFrame(varDiccionario)

In [30]:
# Mostramos el contenido del DataFrame
varDataFrame

             País  Poblacion en Millones
0           China                   1441
1           India                   1393
2  Estados Unidos                    332
3       Indonesia                    276
4        Pakistán                    225
5          Brasil                    213

#### Opcion 4: Creamos un DataFrame usando un archivo csv con data

In [5]:
# vamos a leer el contenido del archivo csv, para que funcione es importante que el archivo csv este en el mismo directorio donde esta este archivo de jupiter notebook
# si queres importar otro dataset reemplaza el nombre "data_historico_coti_btc.csv" por el nombre de tu archivo csv
varDataFrame = pandas.read_csv('data_historico_coti_btc.csv')

In [4]:
# Mostramos el contenido del DataFrame
varDataFrame

           Fecha    Último  Apertura    Máximo    Mínimo    Vol.  % var.
0     29.01.2024  43.103,6  42.031,4  43.301,9  41.824,7  44,72K   2,55%
1     28.01.2024  42.030,7  42.121,3  42.817,1  41.649,0  32,53K  -0,21%
2     27.01.2024  42.120,9  41.811,5  42.191,8  41.413,0  20,46K   0,74%
3     26.01.2024  41.811,3  39.942,0  42.214,8  39.831,2  69,47K   4,70%
4     25.01.2024  39.935,7  40.085,1  40.285,8  39.546,3  46,30K  -0,37%
...          ...       ...       ...       ...       ...     ...     ...
4939  22.07.2010       0,1       0,1       0,1       0,1   2,16K   0,00%
4940  21.07.2010       0,1       0,1       0,1       0,1   0,58K   0,00%
4941  20.07.2010       0,1       0,1       0,1       0,1   0,26K   0,00%
4942  19.07.2010       0,1       0,1       0,1       0,1   0,57K   0,00%
4943  18.07.2010       0,1       0,0       0,1       0,1   0,08K   0,00%

[4944 rows x 7 columns]