In [1]:
# Paso 1: Importamos librerias 
import pandas
import numpy

C:\Users\marti\AppData\Local\Temp\ipykernel_19036\726520321.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas

### Atributos, funciones y métodos básicos

#### Paso 1: Cargamos el DataFrame en memoria a partir de un archivo csv

In [2]:
# vamos a leer el contenido del archivo csv, para que funcione es importante que el archivo csv este en el mismo directorio que esta notebook
varDataFrame = pandas.read_csv('BTC-USD.csv')

#### Definiciones:

#### Atributos: Es un valor asociado a un objeto el cual esta referenciado por un punto. Dicho en otras palabras, los atributos de un DataFrame son las columnas que lo componen

In [3]:
varDataFrame.columns    # Nos muestra todas las columnas del DataFrame

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [4]:
varDataFrame.High     # Nos muestra solo el contenido de la columna indicada. Esta manera de consultar no es la mas indicada

0         468.174011
1         456.859985
2         427.834991
3         423.295990
4         412.425995
            ...
3422    43838.945313
3423    43717.406250
3424    43243.167969
3425    43422.488281
3426             NaN
Name: High, Length: 3427, dtype: float64

In [5]:
varDataFrame['High']   # Esta es la forma más recomendada de consultar una columna, dado que al parametrizar el nombre de la columna como una cadena de caracteres se contemplan los espacios y los caracteres especiales como el símbolo de porcentaje

0         468.174011
1         456.859985
2         427.834991
3         423.295990
4         412.425995
            ...
3422    43838.945313
3423    43717.406250
3424    43243.167969
3425    43422.488281
3426             NaN
Name: High, Length: 3427, dtype: float64

In [6]:
varDataFrame.shape              # Nos muestra la cantidad de filas y columnas que tiene nuestro DataFrame

(3427, 7)

In [7]:
varDataFrame.index              # Nos muestra información relativa a cómo esta conformado el índice de nuestro DataFrame, en este caso es un rango de valores que va de 0 a 4944 pasando de 1 en 1

RangeIndex(start=0, stop=3427, step=1)

In [8]:
varDataFrame.dtypes             # Nos muestra el tipo de dato de cada columna

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume       float64
dtype: object

#### Métodos: Es una función que es definida dentro del cuerpo de una clase

In [9]:
varDataFrame.info()             # Nos muestra información básica de nuestro DataFrame, por lo general se utiliza para determinar si nuesto df contiene o no datos nulos.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3427 entries, 0 to 3426
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3427 non-null   object
 1   Open       3426 non-null   float64
 2   High       3426 non-null   float64
 3   Low        3426 non-null   float64
 4   Close      3426 non-null   float64
 5   Adj Close  3426 non-null   float64
 6   Volume     3426 non-null   float64
dtypes: float64(6), object(1)
memory usage: 187.5+ KB

In [10]:
varDataFrame.describe()         # Nos muestra valores estadísticos del DataFrame

,Open,High,Low,Close,Adj Close,Volume
count,3426.000000,3426.000000,3426.000000,3426.000000,3426.000000,3.426000e+03
mean,14844.983333,15190.603565,14472.970532,14856.142586,14856.142586,1.664234e+10
std,16345.789583,16735.443738,15909.755016,16348.222496,16348.222496,1.904475e+10
min,176.897003,211.731003,171.509995,178.102997,178.102997,5.914570e+06
25%,923.028519,947.978745,917.340485,926.804230,926.804230,1.740438e+08
50%,8321.371093,8522.882812,8143.933594,8321.381348,8321.381348,1.188649e+10
75%,24999.604492,25877.554199,24509.110351,25106.704101,25106.704101,2.694028e+10
max,67549.734375,68789.625000,66382.062500,67566.828125,67566.828125,3.509679e+11

#### Funciones: Es un grupo de sentencias relacionadas que hacen una tarea específica.

In [13]:

varDataFrame.info()     # Muestra información sobre las columnas, tipos de datos y valores no nulos.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3427 entries, 0 to 3426
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3427 non-null   object
 1   Open       3426 non-null   float64
 2   High       3426 non-null   float64
 3   Low        3426 non-null   float64
 4   Close      3426 non-null   float64
 5   Adj Close  3426 non-null   float64
 6   Volume     3426 non-null   float64
dtypes: float64(6), object(1)
memory usage: 187.5+ KB

In [11]:
varDataFrame.shape      # Devuelve una tupla que representa el número de filas y columnas.

(3427, 7)

In [12]:
len(varDataFrame)       # Nos dice el tamaño del DataFrame (total de filas)

3427

In [13]:
max(varDataFrame.index) # Nos dice el valor máximo del DataFrame segun la columna que parametricemos

3426

In [14]:
min(varDataFrame.index) # Nos dice el valor mínimo del DataFrame segun la columna que parametricemos

0