In [22]:
# Paso 1: Importamos librerias 
import pandas
import numpy

### Atributos, funciones y métodos básicos

#### Paso 1: Cargamos el DataFrame en memoria a partir de un archivo csv

In [25]:
# vamos a leer el contenido del archivo csv, para que funcione es importante que el archivo csv este en el mismo directorio que esta notebook
varDataFrame = pandas.read_csv('data_historico_coti_btc.csv')

           Fecha    Último  Apertura    Máximo    Mínimo    Vol.  % var.
0     29.01.2024  43.103,6  42.031,4  43.301,9  41.824,7  44,72K   2,55%
1     28.01.2024  42.030,7  42.121,3  42.817,1  41.649,0  32,53K  -0,21%
2     27.01.2024  42.120,9  41.811,5  42.191,8  41.413,0  20,46K   0,74%
3     26.01.2024  41.811,3  39.942,0  42.214,8  39.831,2  69,47K   4,70%
4     25.01.2024  39.935,7  40.085,1  40.285,8  39.546,3  46,30K  -0,37%
...          ...       ...       ...       ...       ...     ...     ...
4939  22.07.2010       0,1       0,1       0,1       0,1   2,16K   0,00%
4940  21.07.2010       0,1       0,1       0,1       0,1   0,58K   0,00%
4941  20.07.2010       0,1       0,1       0,1       0,1   0,26K   0,00%
4942  19.07.2010       0,1       0,1       0,1       0,1   0,57K   0,00%
4943  18.07.2010       0,1       0,0       0,1       0,1   0,08K   0,00%

[4944 rows x 7 columns]

#### Definiciones:

#### Atributos: Es un valor asociado a un objeto el cual esta referenciado por un punto. Dicho en otras palabras, los atributos de un DataFrame son las columnas que lo componen

In [35]:
varDataFrame.columns    # Nos muestra todas las columnas del DataFrame

Index(['Fecha', 'Último', 'Apertura', 'Máximo', 'Mínimo', 'Vol.', '% var.'], dtype='object')

In [5]:
varDataFrame.Máximo     # Nos muestra solo el contenido de la columna indicada

0       43.301,9
1       42.817,1
2       42.191,8
3       42.214,8
4       40.285,8
          ...
4939         0,1
4940         0,1
4941         0,1
4942         0,1
4943         0,1
Name: Máximo, Length: 4944, dtype: object

In [32]:
varDataFrame.shape              # Nos muestra la cantidad de filas y columnas que tiene nuestro DataFrame

(4944, 7)

In [34]:
varDataFrame.index              # Nos muestra información relativa a cómo esta conformado el índice de nuestro DataFrame, en este caso es un rango de valores que va de 0 a 4944 pasando de 1 en 1

RangeIndex(start=0, stop=4944, step=1)

In [36]:
varDataFrame.dtypes             # Nos muestra el tipo de dato de cada columna

Fecha       object
Último      object
Apertura    object
Máximo      object
Mínimo      object
Vol.        object
% var.      object
dtype: object

#### Métodos: Es una función que es definida dentro del cuerpo de una clase

In [37]:
varDataFrame.info()             # Nos muestra información básica de nuestro DataFrame, por lo general se utiliza para determinar si nuesto df contiene o no datos nulos.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4944 entries, 0 to 4943
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     4944 non-null   object
 1   Último    4944 non-null   object
 2   Apertura  4944 non-null   object
 3   Máximo    4944 non-null   object
 4   Mínimo    4944 non-null   object
 5   Vol.      4938 non-null   object
 6   % var.    4944 non-null   object
dtypes: object(7)
memory usage: 270.5+ KB

In [38]:
varDataFrame.describe()         # Nos muestra valores estadísticos del DataFrame

             Fecha Último Apertura Máximo Mínimo   Vol. % var.
count         4944   4944     4944   4944   4944   4938   4944
unique        4944   3989     3982   3977   3986   4382   1543
top     29.01.2024    0,1      0,1    0,1    0,1  1,05M  0,00%
freq             1    100      100     97    101      6    429

#### Funciones: Es un grupo de sentencias relacionadas que hacen una tarea específica.

In [28]:

varDataFrame.info()     # Muestra información sobre las columnas, tipos de datos y valores no nulos.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4944 entries, 0 to 4943
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     4944 non-null   object
 1   Último    4944 non-null   object
 2   Apertura  4944 non-null   object
 3   Máximo    4944 non-null   object
 4   Mínimo    4944 non-null   object
 5   Vol.      4938 non-null   object
 6   % var.    4944 non-null   object
dtypes: object(7)
memory usage: 270.5+ KB

In [31]:
varDataFrame.shape      # Devuelve una tupla que representa el número de filas y columnas.

(4944, 7)