In [1]:
# Paso 1: Importamos librerias 
import pandas
import numpy

C:\Users\marti\AppData\Local\Temp\ipykernel_6296\726520321.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas

### Atributos, funciones y métodos básicos

#### Paso 1: Cargamos el DataFrame en memoria a partir de un archivo csv

In [2]:
# vamos a leer el contenido del archivo csv, para que funcione es importante que el archivo csv este en el mismo directorio que esta notebook
varDataFrame = pandas.read_csv('BTC-USD.csv')

#### Definiciones:

#### Atributos: Es un valor asociado a un objeto el cual esta referenciado por un punto. Dicho en otras palabras, los atributos de un DataFrame son las columnas que lo componen

In [35]:
varDataFrame.columns    # Nos muestra todas las columnas del DataFrame

Index(['Fecha', 'Último', 'Apertura', 'Máximo', 'Mínimo', 'Vol.', '% var.'], dtype='object')

In [17]:
varDataFrame.Máximo     # Nos muestra solo el contenido de la columna indicada. Esta manera de consultar no es la mas indicada

0       43.301,9
1       42.817,1
2       42.191,8
3       42.214,8
4       40.285,8
          ...
4939         0,1
4940         0,1
4941         0,1
4942         0,1
4943         0,1
Name: Máximo, Length: 4944, dtype: object

In [18]:
varDataFrame['% var.']   # Esta es la forma mas recomendada de consultar una columna, dado que al parametrizar el nombre de la columna como una cadena de caracteres se contemplan los espacios y los caracteres especiales como el símbolo de porcentaje

0        2,55%
1       -0,21%
2        0,74%
3        4,70%
4       -0,37%
         ...
4939     0,00%
4940     0,00%
4941     0,00%
4942     0,00%
4943     0,00%
Name: % var., Length: 4944, dtype: object

In [13]:
varDataFrame.shape              # Nos muestra la cantidad de filas y columnas que tiene nuestro DataFrame

(4944, 7)

In [34]:
varDataFrame.index              # Nos muestra información relativa a cómo esta conformado el índice de nuestro DataFrame, en este caso es un rango de valores que va de 0 a 4944 pasando de 1 en 1

RangeIndex(start=0, stop=4944, step=1)

In [36]:
varDataFrame.dtypes             # Nos muestra el tipo de dato de cada columna

Fecha       object
Último      object
Apertura    object
Máximo      object
Mínimo      object
Vol.        object
% var.      object
dtype: object

#### Métodos: Es una función que es definida dentro del cuerpo de una clase

In [37]:
varDataFrame.info()             # Nos muestra información básica de nuestro DataFrame, por lo general se utiliza para determinar si nuesto df contiene o no datos nulos.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4944 entries, 0 to 4943
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     4944 non-null   object
 1   Último    4944 non-null   object
 2   Apertura  4944 non-null   object
 3   Máximo    4944 non-null   object
 4   Mínimo    4944 non-null   object
 5   Vol.      4938 non-null   object
 6   % var.    4944 non-null   object
dtypes: object(7)
memory usage: 270.5+ KB

In [38]:
varDataFrame.describe()         # Nos muestra valores estadísticos del DataFrame

             Fecha Último Apertura Máximo Mínimo   Vol. % var.
count         4944   4944     4944   4944   4944   4938   4944
unique        4944   3989     3982   3977   3986   4382   1543
top     29.01.2024    0,1      0,1    0,1    0,1  1,05M  0,00%
freq             1    100      100     97    101      6    429

#### Funciones: Es un grupo de sentencias relacionadas que hacen una tarea específica.

In [28]:

varDataFrame.info()     # Muestra información sobre las columnas, tipos de datos y valores no nulos.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4944 entries, 0 to 4943
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     4944 non-null   object
 1   Último    4944 non-null   object
 2   Apertura  4944 non-null   object
 3   Máximo    4944 non-null   object
 4   Mínimo    4944 non-null   object
 5   Vol.      4938 non-null   object
 6   % var.    4944 non-null   object
dtypes: object(7)
memory usage: 270.5+ KB

In [31]:
varDataFrame.shape      # Devuelve una tupla que representa el número de filas y columnas.

(4944, 7)

In [3]:
len(varDataFrame)       # Nos dice el tamaño del DataFrame (total de filas)

4944

In [10]:
max(varDataFrame.index) # Nos dice el valor máximo del DataFrame segun la columna que parametricemos

4943

In [11]:
min(varDataFrame.index) # Nos dice el valor mínimo del DataFrame segun la columna que parametricemos

0